<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wfm_traffic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.OvertimesActivity"></activity>
        <activity android:name=".activities.MessagesActivity" />
        <activity android:name=".activities.RequestLeaveActivity" />
        <activity android:name=".activities.OvertimeListActivity" />
        <activity android:name=".activities.LeaveDetailActivity" />
        <activity android:name=".activities.OvertimeApprovalActivity" />
        <activity android:name=".activities.OvertimeCalendarActivity" />
        <activity android:name=".activities.ApproveLeaveActivity" />
        <activity android:name=".activities.LeaveCalendarActivity" />
        <activity android:name=".activities.FinesActivity" />
        <activity android:name=".activities.FinesCalendarActivity" />
        <activity android:name=".activities.TimeSheetActivity" /> <!-- <activity android:name=".activities.RequestLeaveActivity" /> -->
        <activity android:name=".activities.AddFinesActivity" />
        <activity android:name=".activities.AddTaskActivity" /> <!-- <activity android:name=".activities.TimeSheetActivity" /> -->
        <activity android:name=".activities.ApproveTaskActivity" />
        <activity android:name=".activities.WeekCalendarActivity1" />
        <activity android:name=".activities.MonthCalendarActivity1" />
        <activity android:name=".activities.CalendarTaskActivity" />
        <activity android:name=".activities.AssignedTaskActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>